
h1{
    background-color: red;
    color: white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.container{
    background-color: rgb(201, 226, 243);
    margin-top: 20px;
    text-align: center;
    border: 3px dashed red;
    display: flex;
   
    justify-content: center;
}
form{
    width: 80vw;
padding-bottom: 20px;
    
}
fieldset{
    margin-bottom: 15px;
}
/* input{
    width: 20%;
} */
form div{
    padding-top: 20px;
}
button{
    margin-top: 10px;
}