.container{
    width: 700px;
    height: 700px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}
.container div{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 280px;
    right: 280px;
}
.item-1{
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    /* transition: 0, 2s; */
}
.item-1 :hover{
    position: relative;
    top: 0;
    left: 0;
}
.item-2{
    background-color: blanchedalmond;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.item-2 :hover{
    position: absolute;
    top: 0;
    left: 0;
}
.item-3{
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}
.item-3 :hover{
    position: absolute;
    top: 0;
    left: 0;
}