.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
h2{font-size: 48px;}
@media(min-width:1024px){
    .container img{
       width: 10% ;
       justify-content: space-around;
       padding-left: 40px;
       border-radius: 20%;
       display: flex;
       flex-wrap: wrap;

    }
}
@media (max-width:920px){
    .container img{
        width: 30%;
        justify-content: space-evenly;
        border-radius: 20%;
        display: flex;
        flex-wrap: wrap;
    }
}

.container h3{
    font-size: 36px;
}
.bottom{
    margin-top:100px;
}
.section-1{
    display:flex ;
    width: 100%;
}
.section-1 img{
    height:300px;
    border-radius: 20%;
}
.section-1 .title{
    padding-left:30px ;
    width: 60%;
    font-size: 24px;
}.section-2{
    display:flex ;
    padding-top: 30px;
    width: 100%;
}
.section-2 img{
    height:300px;
    border-radius: 20%;
}
.section-2 .title{
    padding-left:30px ;
    width: 60%;
    font-size: 24px;
}
.section-3{
    display:flex ;
    padding-top: 30px;
    width: 100%;
}
.section-3 img{
    height:300px;
    border-radius: 20%;
}
.section-3 .title{
    padding-left:30px ;
    width: 60%;
    font-size: 24px;
}
.section-4{
    display:flex ;
    padding-top: 30px;
    width: 100%;
}
.section-4 img{
    height:300px;
    border-radius: 20%;
}
.section-4 .title{
    padding-left:30px ;
    width: 60%;
    font-size: 24px;
}
.aside {
    background-color: blanchedalmond;
    border-radius: 40px;
    width: 350px;
    position: absolute;
    right: 50px;
    top: 0;
}
.aside h4{
    font-size: 32px;
}
.aside p{
font-size: 24px;
}
.aside-title{
    padding: 30px;
}
main{
    position: relative;
}
